# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# .exe
*.exe

# Qt
build-*
# Пользовательские файлы проекта 
# (связанные с конкретной цепочной компиляции)
*.user
*.user.3.2-pre1

# Code::Blocks
bin
obj
*.depend
*.layout
*.autosave
*.orig
.idea

Makefile
Makefile.Debug
Makefile.Release